.fix-site-header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
  color: var(--main-color);
  background-color: var(--main-bg);

  &.is-visible {
    @include anim(fade-down, 0.25s);

    display: block;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 2;
    display: grid;
    grid-template-rows: 0fr;
    flex-basis: 100%;
    color: var(--main-text);
    background-color: var(--main-bg);
    transform: translateX(-50%);
    transition: grid-template-rows 0.3s ease-in-out;

    &.is-show {
      grid-template-rows: 1fr;
    }
  }

  @include media-min ($xl) {
    &__inner {
      flex-wrap: nowrap;
    }

    &__catalog-btn {
      display: none;
    }

    &__cart {
      order: 2;
      margin-left: 30px;
      padding-right: 15px;
    }

    &__nav {
      position: static;
      display: block;
      transform: none;
      flex-basis: auto;
    }
  }
}
