.contacts {
  display: grid;
  row-gap: 10px;

  &__item {
    & a {
      text-decoration-color: transparent;
    }

    &>* {
      position: relative;
      padding-left: 32px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 21px;
        height: 21px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: translateY(-50%);
      }
    }

    &--pin {
      &>* {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0173 19.089C14.3049 17.0756 18.375 12.9622 18.375 9.1875C18.375 7.09892 17.5453 5.09588 16.0685 3.61903C14.5916 2.14218 12.5886 1.3125 10.5 1.3125C8.41142 1.3125 6.40838 2.14218 4.93153 3.61903C3.45469 5.09588 2.625 7.09892 2.625 9.1875C2.625 12.9622 6.69375 17.0756 8.98275 19.089C9.40027 19.4617 9.94035 19.6676 10.5 19.6676C11.0597 19.6676 11.5997 19.4617 12.0173 19.089ZM7.875 9.1875C7.875 8.49131 8.15156 7.82363 8.64384 7.33134C9.13613 6.83906 9.80381 6.5625 10.5 6.5625C11.1962 6.5625 11.8639 6.83906 12.3562 7.33134C12.8484 7.82363 13.125 8.49131 13.125 9.1875C13.125 9.88369 12.8484 10.5514 12.3562 11.0437C11.8639 11.5359 11.1962 11.8125 10.5 11.8125C9.80381 11.8125 9.13613 11.5359 8.64384 11.0437C8.15156 10.5514 7.875 9.88369 7.875 9.1875Z' fill='%2399CB9A'/%3E%3C/svg%3E%0A");
        }
      }
    }

    &--mail {
      &>* {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.832 4.16663H4.16536C3.29453 4.16663 2.58203 4.87913 2.58203 5.74996V15.25C2.58203 16.1208 3.29453 16.8333 4.16536 16.8333H16.832C17.7029 16.8333 18.4154 16.1208 18.4154 15.25V5.74996C18.4154 4.87913 17.7029 4.16663 16.832 4.16663ZM16.5154 7.53121L11.3379 10.7691C10.8233 11.0937 10.1741 11.0937 9.65953 10.7691L4.48203 7.53121C4.40265 7.48665 4.33313 7.42644 4.27769 7.35424C4.22225 7.28203 4.18204 7.19933 4.15949 7.11113C4.13693 7.02293 4.13251 6.93107 4.14649 6.84112C4.16046 6.75116 4.19255 6.66498 4.2408 6.58778C4.28904 6.51058 4.35245 6.44398 4.42719 6.392C4.50192 6.34002 4.58643 6.30374 4.67559 6.28536C4.76475 6.26699 4.85671 6.26689 4.94591 6.28508C5.03511 6.30328 5.11969 6.33938 5.19453 6.39121L10.4987 9.70829L15.8029 6.39121C15.8777 6.33938 15.9623 6.30328 16.0515 6.28508C16.1407 6.26689 16.2326 6.26699 16.3218 6.28536C16.411 6.30374 16.4955 6.34002 16.5702 6.392C16.6449 6.44398 16.7084 6.51058 16.7566 6.58778C16.8048 6.66498 16.8369 6.75116 16.8509 6.84112C16.8649 6.93107 16.8605 7.02293 16.8379 7.11113C16.8154 7.19933 16.7751 7.28203 16.7197 7.35424C16.6643 7.42644 16.5947 7.48665 16.5154 7.53121Z' fill='%2399CB9A'/%3E%3C/svg%3E%0A");
        }
      }
    }

    &--inst {
      &>* {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8224 3.00098C11.4062 2.99874 11.9899 3.00461 12.5735 3.01858L12.7287 3.02418C12.9079 3.03058 13.0847 3.03858 13.2983 3.04818C14.1494 3.08818 14.7302 3.22258 15.2398 3.42017C15.7678 3.62336 16.2125 3.89855 16.6573 4.34334C17.064 4.74301 17.3787 5.22647 17.5797 5.76009C17.7773 6.26967 17.9116 6.85125 17.9516 7.70242C17.9612 7.91522 17.9692 8.09281 17.9756 8.27201L17.9804 8.4272C17.9947 9.01053 18.0008 9.59404 17.9988 10.1775L17.9996 10.7743V11.8223C18.0016 12.4061 17.9955 12.9898 17.9812 13.5734L17.9764 13.7286C17.97 13.9078 17.962 14.0846 17.9524 14.2982C17.9124 15.1494 17.7765 15.7302 17.5797 16.2397C17.3794 16.7739 17.0646 17.2578 16.6573 17.6573C16.2573 18.0639 15.7736 18.3787 15.2398 18.5797C14.7302 18.7772 14.1494 18.9116 13.2983 18.9516C13.0847 18.9612 12.9079 18.9692 12.7287 18.9756L12.5735 18.9804C11.9899 18.9947 11.4062 19.0008 10.8224 18.9988L10.2256 18.9996H9.17849C8.59473 19.0016 8.01097 18.9955 7.42738 18.9812L7.27219 18.9764C7.08229 18.9696 6.89243 18.9616 6.70262 18.9524C5.85146 18.9124 5.27069 18.7764 4.76032 18.5797C4.22649 18.3791 3.74296 18.0643 3.34359 17.6573C2.93645 17.2575 2.62141 16.7738 2.42044 16.2397C2.22285 15.7302 2.08846 15.1494 2.04846 14.2982C2.03955 14.1084 2.03155 13.9185 2.02446 13.7286L2.02046 13.5734C2.00571 12.9898 1.99905 12.4061 2.00046 11.8223V10.1775C1.99823 9.59404 2.0041 9.01054 2.01806 8.4272L2.02366 8.27201C2.03006 8.09281 2.03806 7.91522 2.04766 7.70242C2.08766 6.85045 2.22205 6.27047 2.41964 5.76009C2.62073 5.2262 2.93638 4.74288 3.34439 4.34414C3.74349 3.93675 4.22672 3.62142 4.76032 3.42017C5.27069 3.22258 5.85066 3.08818 6.70262 3.04818L7.27219 3.02418L7.42738 3.02018C8.0107 3.00544 8.59419 2.99878 9.17769 3.00018L10.8224 3.00098ZM10.0001 7.00085C9.47008 6.99335 8.94391 7.09126 8.45211 7.28889C7.96031 7.48652 7.5127 7.77992 7.13527 8.15205C6.75785 8.52418 6.45815 8.96761 6.25359 9.45657C6.04903 9.94554 5.94369 10.4703 5.94369 11.0003C5.94369 11.5303 6.04903 12.0551 6.25359 12.5441C6.45815 13.033 6.75785 13.4764 7.13527 13.8486C7.5127 14.2207 7.96031 14.5141 8.45211 14.7117C8.94391 14.9094 9.47008 15.0073 10.0001 14.9998C11.0609 14.9998 12.0782 14.5784 12.8283 13.8282C13.5784 13.0781 13.9998 12.0607 13.9998 10.9999C13.9998 9.93908 13.5784 8.9217 12.8283 8.17158C12.0782 7.42146 11.0609 7.00085 10.0001 7.00085ZM10.0001 8.60079C10.3188 8.59492 10.6356 8.65263 10.9318 8.77055C11.2281 8.88848 11.4978 9.06425 11.7254 9.28761C11.9529 9.51096 12.1337 9.77742 12.2571 10.0714C12.3805 10.3654 12.4441 10.6811 12.4441 10.9999C12.4442 11.3188 12.3807 11.6344 12.2574 11.9285C12.1341 12.2225 11.9534 12.489 11.726 12.7124C11.4985 12.9359 11.2288 13.1117 10.9326 13.2298C10.6364 13.3478 10.3196 13.4056 10.0009 13.3998C9.36436 13.3998 8.75395 13.147 8.30388 12.6969C7.85382 12.2468 7.60097 11.6364 7.60097 10.9999C7.60097 10.3634 7.85382 9.75299 8.30388 9.30291C8.75395 8.85284 9.36436 8.59999 10.0009 8.59999L10.0001 8.60079ZM14.1998 5.80089C13.9418 5.81122 13.6977 5.92101 13.5188 6.10726C13.3398 6.29351 13.2399 6.54177 13.2399 6.80006C13.2399 7.05834 13.3398 7.3066 13.5188 7.49285C13.6977 7.6791 13.9418 7.78889 14.1998 7.79922C14.465 7.79922 14.7194 7.69387 14.9069 7.50634C15.0944 7.31881 15.1998 7.06446 15.1998 6.79925C15.1998 6.53405 15.0944 6.2797 14.9069 6.09217C14.7194 5.90464 14.465 5.79929 14.1998 5.79929V5.80089Z' fill='%2399CB9A'/%3E%3C/svg%3E ");
        }
      }
    }
  }

  @include media-min ($md) {
    row-gap: 20px;
  }

  @include media-min ($xl) {
    &__item {
      & a {
        transition: color 0.15s ease-in-out;

        &:hover {
          color: var(--accent);
        }
      }
    }
  }
}

.contact-form {
  --form-color: var(--third-bright-color);
  --form-bg: var(--third-bright-bg);
  --input-color: var(--main-text);
  --input-bg: rgba(255, 255, 255, 0.56);

  padding: 30px;
  border-radius: 24px;

  &__submit {
    --btn-color: var(--main-text);
    --btn-bg: var(--main-bg);

    width: 100%;
  }
}
