.whats-say {
  --pt: 40px;
  --wavy-height: 80px;
  --wavy-pattern: url('../img/default/wave.svg');
  --content-pt: calc(var(--wavy-height) + var(--pt));

  padding-top: var(--content-pt);
  padding-bottom: 60px;
  color: var(--third-bright-color);
  background-color: var(--third-bright-bg);

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__reviews {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
  }

  &__reviews-wrapper {
    display: flex;
    margin: -30px -15px;
  }

  &__reviews-item {
    flex-shrink: 0;
    margin: 30px 15px;
    padding: 16px;
    color: var(--main-text);
    background-color: var(--main-bg);
    border-radius: 24px;
    width: 210px;
  }

  @include media-min ($md) {
    --pt: 60px;

    padding-bottom: 80px;

    &__title {
      margin-bottom: 40px;
    }

    &__reviews {
      overflow: visible;
      padding-bottom: 0;
    }

    &__reviews-col {
      flex-basis: 100%;
    }

    &__reviews-item {
      width: auto;
    }
  }

  @include media-min ($xl) {
    --pt: 80px;

    padding-bottom: 90px;

    &__title {
      margin-bottom: 60px;
    }

    &__reviews-item {
      padding: 30px;
    }
  }

  @include media-min ($xl) {
    --pt: 100px;

    padding-bottom: 130px;
  }
}
