:root {
  --white: #FFFFFF;
  --black: #3C3C3C;
  --gray: #D6D6D6;
  --light-gray: #F5F5F5;
  --pink: #C76F89;
  --pink-50: #FBC9D8;
  --pink-40: #FCD6E1;
  --yellow: #F8F6F2;
  --green: #99CB9A;
  --logo-yellow: #f0d663;


  // theme colors
  --main-text: var(--black);
  --main-text-inv: var(--white);
  --main-bg: var(--white);
  --main-bg-inv: var(--black);
  --accent: var(--pink);
  --btn-color: var(--black);
  --btn-bg: var(--pink-40);
  --btn-hover-bg: var(--pink-50);
  --options-btn-color: var(--black);
  --options-btn-bg: var(--light-gray);
  --options-btn-active-color: var(--white);
  --options-btn-active-bg: var(--green);
  --blog-btn-color: var(--accent);
  --blog-btn-bg: var(--white);
  --scroll-top-btn-color: var(--accent);
  --scroll-top-icon-color: var(--white);
  --border: var(--gray);
  --border-colored: var(--pink-40);
  --new-price-color: var(--green);
  --first-bright-color: var(--white);
  --first-bright-bg: var(--green);
  --second-bright-color: var(--black);
  --second-bright-bg: var(--yellow);
  --third-bright-color: var(--black);
  --third-bright-bg: var(--pink-40);
  --out-of-stock-bg: var(--logo-yellow);

  // vendor vars

  // other vars
  --mobile-min-width: 360px;
  --main-font: "Poppins";
  --burger-position: none;
  --burger-middle-position: none;
  --burger-dashoffset: 0;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
