@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "blocks/common/index";
@import "blocks/header/index";
@import "blocks/footer/index";
@import "blocks/main/index";
@import "blocks/contacts/index";
@import "blocks/faq/index";
@import "blocks/product/index";
