.breadcrumbs {
  padding-top: 30px;
  color: var(--main-text);
  opacity: 0.6;

  & a {
    color: inherit;
    text-decoration-color: transparent;
  }

  @include media-min ($md) {
    padding-top: 40px;
  }

  @include media-min ($xl) {
    padding-top: 60px;

    & a {
      transition: color .2s ease-in-out, text-decoration-color .2s ease-in-out;

      &:hover {
        color: var(--accent);
        text-decoration-color: var(--accent);
      }
    }
  }

  @include media-min ($xxl) {
    &__inner {
      margin-left: 55px;
      margin-right: 55px;
    }
  }
}
