.product-card {
  --swiper-height: auto;

  position: relative;
  display: flex;
  flex-direction: column;

  &__image {
    position: relative;
    padding-bottom: 110%;
    margin-bottom: 14px;
    height: 0;
    overflow: hidden;
    border-radius: 24px;
    background-image: url('../img/default/no-image.png');
    background-position: center;
    background-size: cover;

    & img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  &__badge {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    display: inline-flex;
    padding: 7px 15px;
    font-weight: 500;
    line-height: 1;
    color: var(--first-bright-color);
    background-color: var(--first-bright-bg);
    border-radius: 99em;
  }

  &__title {
    margin-bottom: 14px;
    font-weight: 500;
    text-align: center;
    flex-grow: 1;
  }

  &__price {
    text-align: center;

    & ins {
      color: var(--new-price-color);
    }
  }

  &__link {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }

  @include media-min ($xl) {
    &__link {
      &:hover {
        &+.product-card__image {
          & img {
            transform: scale(1.07);
          }
        }
      }
    }

    &__image {
      & img {
        transform: scale(1.01);
        transition: transform 0.45s ease-in-out;
      }
    }

    &__badge {
      top: 30px;
      left: 30px;
    }
  }
}
