.scroll-top {
  position: fixed;
  bottom: 60px;
  right: max(15px, calc((100% - $xxl - 100px) / 2));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
  z-index: 1;

  &--show {
    opacity: 1;
    pointer-events: auto;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    color: var(--scroll-top-icon-color);
    background-color: var(--scroll-top-btn-color);
    border-radius: 50%;

    & svg {
      width: 50%;
      height: 25%;
    }
  }

  @include media-min ($xl) {
    bottom: 50px;

    &__link {
      transition: opacity .25s ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
